[submodule "dssat-csm-os"]
	path = dssat-csm-os
	url = https://gitlab.inria.fr/bdriss/dssat-csm-os
[submodule "dssat-csm-data"]
	path = dssat-csm-data
	url = https://github.com/DSSAT/dssat-csm-data.git
	tag = v4.8.0.28
[submodule "spack_pking"]
	path = spack_pking
	url = https://gitlab.inria.fr/rgautron/gym_dssat_pdi-spack
	tag = 0.19.0.3
