logging:
  # level: debug
  level: error

data:
  RSEED1: int
  IFERI:
    type: character
    kind: 4
  MEWTH:
    type: character
    kind: 4
  YRDOY: int
  NSTRES: float
  ISTAGE: int
  ANFER: float
  GRNWT: float
  TOPWT: float
  PLTPOP: float
  SWFAC: float
  PCNGRN: float
  TLeachD: float
  TNOXD: float
  WTNUP: float
  CLeach: float
  CNOX: float
  CumSumFert: float
  XLAI: float
  TRNU: float
  RAIN: float
  TMIN: float
  TMAX: float
  SRAD: float
  DTT: float

plugins:

  pycall:

    on_data:
      YRDOY: |
        yrdoy = YRDOY
      NSTRES: |
        nstres = NSTRES
      ISTAGE: |
        istage = ISTAGE
      GRNWT: |
        grnwt = GRNWT
      TOPWT: |
        topwt = TOPWT
      PLTPOP: |
        pltpop = PLTPOP
      SWFAC: |
        swfac = SWFAC
      PCNGRN: |
        pcngrn = PCNGRN
      TLeachD: |
        tleachd = TLeachD
      TNOXD: |
        tnoxd = TNOXD
      WTNUP: |
        wtnup = WTNUP
      CLeach: |
        cleach = CLeach
      CNOX: |
        cnox = CNOX
      CumSumFert: |
        cumsumfert = CumSumFert
      XLAI: |
        xlai = XLAI
      TRNU: |
        trnu = TRNU
      RAIN: |
        rain = RAIN
      TMIN: |
        tmin = TMIN
      TMAX: |
        tmax = TMAX
      SRAD: |
        srad = SRAD
      DTT: |
        dtt = DTT

    on_event:
      set_rseed1:
        with: {rseed1: $RSEED1}
        exec: |
          rseed1[()] = {{'{0:d}'.format(rseed1)}}
      set_mewth:
        with: {mewth: $MEWTH}
        exec: |
          mewth[()] = '{{mewth}}'
      set_iferi:
        with: {iferi: $IFERI}
        exec: |
          iferi[()] = '{{iferi}}'

      start_client:
        exec: |
          import zmq
          import json
          import logging
          import pdb
          from gym_dssat_pdi.envs.utils.utils import convert
          import numpy as np
          context = zmq.Context()
          print('Starting env client')
          client = context.socket(zmq.PAIR)
          client.setsockopt(zmq.LINGER, 0)
          client.connect('tcp://localhost:{{'{0:d}'.format(port)}}')
          done = False

      stop_client:
        exec: |
          done = True
          message = {'done': done, 'state': {}}
          client.send(json.dumps(message, default=convert).encode('utf-8'))
          client.close()
          context.term()
          print('Client closed')

      interact:
        with: {anfer: $ANFER}
        exec: |
          try:
            state = {'yrdoy': yrdoy,
                    'nstres': nstres,
                    'istage': istage,
                    'grnwt': grnwt,
                    'topwt': topwt,
                    'pltpop': pltpop,
                    'swfac': swfac,
                    'pcngrn': pcngrn,
                    'tleachd': tleachd,
                    'tnoxd': tnoxd,
                    'wtnup': wtnup,
                    'cleach': cleach,
                    'cnox': cnox,
                    'cumsumfert': cumsumfert,
                    'xlai': xlai,
                    'trnu': trnu,
                    'rain': rain,
                    'tmin': tmin,
                    'tmax': tmax,
                    'srad': srad,
                    'dtt': dtt
                                }

            message = {'done':done, 'state':state}
            client.send(json.dumps(message, default=convert).encode('utf-8'))
            action = client.recv().decode('utf-8')
            action = json.loads(action)
            anfer[()] = action['anfer']

          except Exception as e:
            logging.exception(e)