Source: gym-dssat-pdi
Section: science
Priority: optional
Maintainer: Emilio J. Padrón González <emilioj@udc.gal>
Build-Depends: debhelper-compat (= 13), python3 (>= 3.6),
 python3-venv, python3-dev, dh-python, dh-virtualenv (>= 1.1),
 python3-setuptools, python3-virtualenv, tar (>= 1.30)
Standards-Version: 4.5.0
Homepage: https://gitlab.inria.fr/rgautron/gym_dssat_pdi

Package: gym-dssat-pdi
Architecture: all
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.6), python3-venv,
 ${misc:Pre-Depends}
Depends: dssat-pdi, dssat-csm-data, ${misc:Depends},
 ${python3:Depends}
Description: gym-DSSAT: an easy to manipulate crop environment for
 Reinforcement Learning.
 .
 gym-DSSAT is a modification of the Decision Support System for
 Agrotechnology Transfer (DSSAT) software into an easy to manipulate
 Open AI gym environment for Reinforcement Learning (RL) researchers
 in Python. gym-DSSAT allows daily based interactions during the
 growing season between an RL agent and the crop model with usual gym
 conventions.
