#!/usr/bin/make -f

export PYBUILD_NAME = gym_dssat_pdi
export DH_VIRTUALENV_INSTALL_ROOT=/opt/
export PYTHON_VERSION=$(shell python3 -V | tr -d '[:blank:]' | tr '[:upper:]' '[:lower:]' | sed 's/\.[^.]*$$//')

%:
	dh $@ --with python-virtualenv --buildsystem=pybuild

override_dh_virtualenv:
	dh_virtualenv --python python3 --use-system-packages \
		--extra-pip-arg "--ignore-installed" \
		--install-suffix gym_dssat_pdi
